<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Notes</title>

  <!-- This is a development version of Vue.js! -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  
  <!-- Google Auth -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <div id="app">
      <img :src="imagePath" alt="Notes Logo">
      <%= CLIENT_ID %>
      <div id="g_auth_limiter">
        <!-- <div id="g_id_onload"
          data-client_id='<%= CLIENT_ID %>'
          data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin" data-type="standard"></div> -->
        <div id="g_id_onload"
          data-client_id="<%= CLIENT_ID %>"
          data-ux_mode="redirect"
          data-login_uri="http://localhost:3333/home">
        </div>
        <div class="g_id_signin" data-type="standard"></div>
      </div>
    </div>
</body>

<style>
  html, body {
    height: 100%;
    overflow: hidden;
  }

  #app {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
  }

  #g_auth_limiter {
    display: flex;
    justify-content: center;
  }
</style>

<script>
  new Vue({
    el: "#app",
    data: {
      imagePath: "notes.png"
    },
  })
</script>
</html>