<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Google SignIn</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style>
    body { 
      padding-top:70px; 
    }
  </style>

  <!-- This is a development version of Vue.js! -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
</head>

<body>
  <div id="app" class="container">
    <div class="text-center text-primary">
      <img :src="imagePath" alt="image">
    </div>

    <div class="text-center">
      <a href="/auth/google" class="btn btn-defaut"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
  </div>
</body>

<script>
  new Vue({
    el: "#app",
    data: {
      imagePath: "notes.png"
    },
  })
</script>

<style>
  a {
    width: 380px;
    border: 1px solid #ffe168 !important;
  }
  
  a:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 225, 104, 0.25) !important;
  }
</style>
</html>